.checkboxes__item {
  padding-top: 2px;
}

.checkbox.style-a {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox.style-a .checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox.style-a .checkbox__input:checked ~ .check__container .checkbox__checkmark {
  background-color: #fff;
}

.checkbox.style-a .checkbox__input:checked ~ .check__container .checkbox__checkmark:after {
  opacity: 1;
}

.checkbox.style-a:hover .checkbox__input ~ .check__container .checkbox__checkmark {
  background-color: #eee;
}

.checkbox.style-a:hover .checkbox__input:checked ~ .check__container .checkbox__checkmark {
  background-color: #fff;
}

.check__container .checkbox__checkmark {
  margin-right: 5px;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #333;
  transition: background-color 0.25s ease;
  border-radius: 3px;
}

.check__container .checkbox__checkmark:after {
  content: "\2713";
  position: absolute;
  bottom: 1px;
  left: 2px;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.check__container .checkbox__body {
  margin-right: 10px;
  padding-top: 2px;
  color: var(--primary);
}
