.projects__list{
  max-width: 1080px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: stretch;
  background: none;
  gap: 10px;
}

.project__card {
  max-width: 300px;
  width: 30vw;
  min-width: 150px;
  height: auto;  
  min-height: 100px;
  border: 1px solid var(--primary);
  border-radius: 10px;
  color: var(--primary);
}

.go_back__btn {
  position: absolute;
  top: 1%;
  left: 1%;
  background: none;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid var(--primary);
  font-size: 0.7rem;
}

.go_back__btn:hover {
  cursor: pointer;
}
