.toggle-switch {
  position: relative;
  width: 40px;
  top: -10px;
}

label {
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: var(--primary);
  border-radius: 10px;
  cursor: pointer;
}

#toggler {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  transition: 0.3s;
}

input:checked ~ .slider {
  background-color: var(--white);
}

.slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  box-shadow: inset 6px 0px 0px 0px var(--white);
  background-color: var(--primary);
  transition: 0.3s;
}

input:checked ~ .slider::before {
  transform: translateX(18px);
  background-color: var(--dark);
  box-shadow: none;
}
