@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Fira+Mono:wght@400;500;700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

:root[data-theme="light"] {
  --background-color: #e7e7e7;
  /* --background-color: #c5c6c7; */
  --primary: #0b0c10;
  --primary2: #1f2833;
  --secondary: #45a29e;
  --secondary2: #66fcf1;
  --contrast-text: #0b0c10;
}

:root[data-theme="dark"] {
  --background-color: #0b0c10;
  --primary: #66fcf1;
  --primary2: #45a29e;
  --secondary: #c5c6c7;
  --secondary2: #727477;
  --contrast-text: #c5c6c7;
}

:root {
  --white: #faebd7;
  --dark: #1e1e1e;
  --navy: #0B192F;
  --warning: #ffe400;
  --error: #f13f20;
  --success: #61892f;
  --orange: #e88001;
  --green: #2e9f4a;
  --yellow: #ffe400;
  --red: #fd4c40;
  --blue: #027BFF;
  --azur: #64ffda;

  --fz-xs: 5px;
  --fz-sm: 10px;
  --fz-md: 17px;
  --fz-lg: 24px; 
  --fz-xl: 35px;
  --fz-xxl: 50px;

  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  --font-link: 'Calibre', 'Fira Sans', 'Helvetica', sans-serif;
}

body {
  margin: 0;
  background: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
  height: 10vh;
  max-height: 50px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.logo-img {
  flex-grow: 1;
}

nav {
  flex-grow: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.props {
  margin-right: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav > a {
  margin: 0 1%;
  text-decoration: none;
  color: var(--primary);
  font-family: var(--font-mono);
  font-size: var(--fz-md);
  letter-spacing: 1px;
  line-height: 1;
  font-weight: 100;
  padding: 0.375rem 0.4375rem;
  border: 1px solid var(--background-color);
  border-radius: 5px;
  box-sizing: border-box;
}

.active-link {
  cursor: default;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
}
